# local config file
spot/invocation/GenConfigs.py

# logs and data archives
*.log
*.pkl
*.out

__pycache__/
*.py[cod]
*$py.class

eggs/
.eggs/
*.egg-info/
*.egg
TODO.md
spot/benchmarks/*/workload.json
