# logs_parsing and data archives
*.log
*.pkl
*.out

# exlude plots
*.png

#vim
*.swp
tags

.vscode/
.idea/

__pycache__/
*.py[cod]
*$py.class

eggs/
.eggs/
*.egg-info/
*.egg
TODO.md

spot-env/
venv/

#Unittest Logs
.coverage

dump/
