pandas~=1.4.0
boto3~=1.26.15
botocore~=1.29.15
google-cloud-functions~=1.13.0
google-cloud-billing~=1.11.1
google-cloud-logging~=3.5.0
google-api-core~=2.11.1
numpy~=1.23.4
scipy~=1.9.3
jsonschema~=4.18.0
