name: First Interaction Response

on:
  issues:
    types: [opened]
  pull_request:
    types: [opened]
  pull_request_target:
    types: [opened]

jobs:
  response:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/first-interaction@main
        with:
          repo-token: ${{ secrets.GITHUB_TOKEN }}
          issue-message: |
            Hello! Thank you for filing an issue.

            Thank you for creating an issue on this repository. The maintainers will triage it and will respond within a few days.
          pr-message: |
            Hello! Thank you for your contribution.
            
            If you've spotted a mistake that you'd like to see fixed, please create an issue instead. This PR will be closed shortly.
